<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <p>Voici la page du potin n°1</p>
    <p>Son auteur : <%= @author %><br/>
    <p>Le contenu du potin : <%= @content %></p>
      
  
    <br>
    <a href="/">Lien pour revenir à la page des potins</a>
  </body>
</html>

